<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.image, size: 300 if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
      data: { confirm: "Are you sure?" }%>
    <% end %>
  </span>
</li>